@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
/* 400 700 */
body {
	font-family: 'Montserrat', sans-serif;
	box-sizing: border-box;
	background: #F0F0F0;
}

.cf:before,
.cf:after {
    content: " "; 
    display: table; 
}

.cf:after {
    clear: both;
}

.container {
	max-width: 1200px; 
	margin: 0 auto;
}

.container-contacts, 
.container-contacts2 {
	max-width: 800px; 
	margin: 0 auto;
}

.container-contacts2 {
	background: #FFFFFF;
	margin-top: 5em;
	margin-bottom: 5em;
	padding: 2em 6.2em;
	box-sizing: border-box;
}

img {
	max-width: 100%;
}

p {
	line-height: 150%;
}

a {
	color: black;
	text-decoration: none;
}

/* ===== NAV ===== */

.logo, .search, .add {
	display: block;
	float: left;
	box-sizing: border-box;
	height: 50px;
}

h1:hover, .nav-text:hover {
	opacity: .5;
}

.logo {
	font-size: 1.5em;
	padding: .5em 0em;
}

.logo, .add {
	text-align: center;
}

.logo {
	background: #FEFF00;
	width: 25%;
}

.search {
	background-color: #FFFFFF;
	width: 65%;
	padding-left: .5em;
}

.add {
	background: #6FEEBE;
	width: 10%;
	font-size: 2em;
	padding: .3em 0em;
}


/* ===== FORMS ===== */

.search-form:focus {
	border: 0;
}

input, textarea {
	border: 0;
}

input:focus, textarea:focus {
	outline: none;
	border: 0;
}

input[type=text],
textarea {
	font-size: 1em;
	font-family: 'Montserrat', sans-serif;
}

textarea {
	width: 100%;
}

.search[type=search] {
	font-size: 1.5em;
	font-family: 'Montserrat', sans-serif;
}

/* ===== MAIN ===== */

.contact-amt {
	text-align: center;
	padding: 2em 0em;
	font-size: 1.4em;
}	

.contact-bkgrd{
	background: rgba(255,255,255,.5);
	margin-bottom: 1em;
}

h3 {
	text-align: center;
	font-size: 2.5em;
	padding: .5em 0em;
}

.contact-middle {
	width: 400px;
	margin: 0 auto;
}

.contact-info {
	max-width: 600px;
	margin: 0 auto;
}

.address-container, .phone-container,
.email-container , .user-container {
	border-bottom: 1px #000000 solid;
}

.address-container, .phone-container,
.email-container, .notes-container, 
.user-container {
	padding: .6em 0em;
}

.icon-container {
	width: 10%;
	float: left;
	display: block;
}

.notes-pic {
	width: 25px;
}

.icon-container img {
	width: 30px;
}

.address-info, .phone-info, 
.email-info, .notes-info, .user-info {
	float: right;
	display: block;
	width: 80%;
}

.first-n, .last-n, .street, 
.phone-w, .phone-p, .phone-w, 
.email-p, .email-w {
	width: 100%;
}

.city, .state, .zip-code {
	float: left;
	display: block;
	width: 100%;
}

.labels  {
	float: left;
	display: block;
}

.labels {
	width: 10%;
	font-size: .9em;
	opacity: .65;
}

.emails, .phone-nos {
	width: 70%;
	float: right;
	display: block;
}

.actions-btn {
	float: right;
	padding-bottom: .5em;
}

.actions-btn a {
	float: left;
	text-decoration: none;
}

.delete, .edit {
	color: white;
	padding: 1em;
}

.delete:hover, .edit:hover {
	opacity: .8;
}

.delete {
	background: #7C7C7C;
	margin-right: .5em;
}

.edit {
	padding: 1em 1.5em;
	background: #7A467F;
}

/* ===== JQUERY ACCORDION ===== */

.ui-helper-hidden {
	display: none;
}
.ui-helper-hidden-accessible {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
.ui-helper-reset {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	line-height: 1.3;
	text-decoration: none;
	font-size: 100%;
	list-style: none;
}
.ui-helper-clearfix:before,
.ui-helper-clearfix:after {
	content: "";
	display: table;
	border-collapse: collapse;
}
.ui-helper-clearfix:after {
	clear: both;
}
.ui-helper-clearfix {
	min-height: 0; /* support: IE7 */
}
.ui-helper-zfix {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	opacity: 0;
}

.ui-front {
	z-index: 100;
}

.ui-state-disabled {
	cursor: default !important;
}

.ui-icon .ui-icon-open, .ui-icon-close {
	display: block;
	text-indent: -99999px;
	overflow: hidden;
	background-repeat: no-repeat;
}

.ui-icon-open, .ui-icon-close {
	width: 20px;
	background-position: -20px;
}

.ui-icon-open {
	background: url(../assets/images/icon-open.png) no-repeat;
}

.ui-icon-closed {
	background: url(../assets/images/icon-closed.png) no-repeat;
}

.ui-widget-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.ui-accordion .ui-accordion-header {
	display: block;
	cursor: pointer;
	position: relative;
	margin: 7px 0 0 0;
	padding: .5em .5em .5em .7em;
	min-height: 0; 
	font-size: 2em;
} 

.ui-accordion .ui-accordion-header:first-child {
	margin: 0;
}

.ui-accordion .ui-accordion-header:focus {
	outline: 0;
}

.ui-accordion .ui-accordion-content {
	padding: 1em 6.2em;
	border-top: 0;
	overflow: auto;
	background: #FFFFFF;
}

.ui-widget {
	font-size: 1em;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
	background: #FFFFFF;
}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover {
	color: #7A467F;
}

.ui-state-hover a,
.ui-state-hover a:hover,
.ui-state-hover a:link,
.ui-state-hover a:visited,
.ui-state-focus a,
.ui-state-focus a:hover,
.ui-state-focus a:link,
.ui-state-focus a:visited {
	color: #7A467F;
	text-decoration: none;
	border: 0;
	outline: 0;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
	color: #7A467F;
	outline: 0;
	border: 0;
}

.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited {
	color: #7A467F;
	text-decoration: none;
	outline: 0;
	border: 0;
}

/* ===== ADD NEW CONTACT ===== */

.submit-btn {
	text-align: center;
}

.submit-btn:before {
	content: '';
  	display: inline-block;
  	height: 100%;
  	vertical-align: middle;
  	margin-right: -0.25em;
}

.add-contact {
	background: #6FEEBE;
}

.edit-contact {
	background: #7A467F;
	color: #FFFFFF;
}

.add-contact, .edit-contact {
	padding: 1em 2em;
	font-size: 1em;
	display: inline-block;
  	vertical-align: middle;
}

.add-contact:hover, 
.edit-contact:hover {
	opacity: .8;
}

.no-contacts {
	padding: 5em;
	opacity: .5;
	font-size: 1.5em;
	text-align: center;
}

.hide {
	display: none;
}

@media only screen and (max-width: 800px) {
	
	/* ===== NAV ===== */
	.logo, .search, .add {
		box-sizing: border-box;
		height: 50px;
	}

	h1:hover, .nav-text:hover {
		opacity: .5;
	}

	.logo {
		font-size: 1.1em;
		padding: 1em 1em;
		width: 70%;
		text-align: left;
	}

	.search {
		width: 100%;
		padding-left: .5em;
	}

	.add {
		width: 30%;
		font-size: 1.5em;
		padding: .6em 0em;
	}

	/* ==== FORM ==== */

	input[type=text], textarea {
		font-size: 16px;
	}

	.search[type=search] {
		font-size: 1em;
	}

	/* ==== ACCORDION ==== */

	.ui-widget {
		font-size: .5em;
	}

	.ui-accordion .ui-accordion-header {
		padding: .7em 0em;
		font-size: 3em;
	}

	.ui-accordion .ui-accordion-content {
		padding: 0em 11em;
		border-top: 0;
		overflow: hidden;
		max-width: 600px;
		margin: 0 auto;
	}

	/* ==== OTHER ==== */

	.labels {
		font-size: 14px;
	}

	.contact-amt {
		padding: 1em 0em;
		font-size: 1em;
	}

	.notes-pic {
		width: 20px;
	}

	.icon-container img {
		width: 25px;
	}

	.delete, .edit {
		color: white;
		padding: 10px;
		font-size: 16px;
		margin-bottom: 0em;
	}

	.edit {
		padding: 10px 20px;
	}

	.container-contacts2 {
		padding: 2em;
		width: 100%;
		margin-top: 1em;
	}

	.contact-middle {
		width: 100%;
		margin: 0 auto;
	}

	.contact-info {
		font-size: 62.5%;
	}

	.add-contact, .edit-contact {
		padding: 1em 1.5em;
		font-size: 15px;
	}

	.address-container, .phone-container,
	.email-container, .notes-container, 
	.user-container {
		font-size: 16px;
	}
}

@media only screen and (max-width: 500px) {

	/* ==== ACCORDION ==== */
		
	.ui-accordion .ui-accordion-content {
		padding: 0em 3em;
		border-top: 0;
		overflow: hidden;
		max-width: 600px;
		margin: 0 auto;
	}
}



